@use '../abstracts' as *;

.header {
  z-index: 2;
  width: 144rem;
  height: 9.6rem;
  background-color: $primary-color-light;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 20px 39px 20px 39px;
  position: fixed;
  top: 0;

  font-size: 1.9rem;
  line-height: 2.28rem;
  color: $txt-color-light;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 4.593rem;
    height: 5.6rem;
  }

  &__menu {
    cursor: pointer;
    width: 43.3rem;
    height: 5.6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__help {
    &:hover {
      width: 2.4rem;
      width: 2.4rem;
    }
  }

  &__user {
    border: $txt-color-light 3px solid;
    border-radius: 50%;
    width: 5.6rem;
    height: 5.6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    & > span {
      background-color: $secondary-color-light;
      border-radius: 50%;
      width: 4.612rem;
      height: 4.612rem;

      font-weight: 700;
      color: $primary-color-dark;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: $menu-hover-color;
      }
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 9.9rem;
  right: 0.8rem;
  background-color: $secondary-color-light;
  width: 17.2rem;
  height: 13.7rem;

  border-radius: 2rem 0 2rem 2rem;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 0%, 0.2);

  padding: 1rem;
  z-index: 9999;

  &__menu {
    font-size: 1.9rem;
    color: $heading-color-h1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & div {
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 0.8rem 1.6rem;
      border-radius: 0.8rem;

      &:hover {
        background-color: $menu-hover-color;
      }
    }
  }
}

#menu-toggle:checked ~ .dropdown-content {
  display: block;
}
