@use '../abstracts/' as *;

.contactTable {
  width: 35.7rem;

  &__header {
    font-size: 1.8rem;

    padding: 1.7rem 3.6rem;
    border-bottom: 1px solid $bottom-border-color;
  }

  &__initials {
    font-size: 1.2rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.2rem;
    height: 4.2rem;
    background-color: orange;
    border: 1px solid white;
    border-radius: 50%;
  }

  &__name {
    font-size: 1.9rem;
    font-weight: 400;
  }

  &__email {
    font-size: 1.6rem;
    font-weight: 400;
    color: $primary-color-light;
  }

  ul {
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    padding: 1.5rem 2.4rem;
  }
}
