@use '../abstracts' as *;

.legacy {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0 3rem;
  text-align: center;

  & > a {
    border-radius: 0.8rem;
    padding: 0.8rem;
    text-decoration: none;

    &:hover {
      color: $primary-color-light;
    }

    &:active {
      color: $secondary-color-light;
      font-weight: 700;
      background-color: $primary-color-light;
    }
  }
}

.active-link-legacy {
  color: $secondary-color-light !important;
  font-weight: 700;
  background-color: $primary-color-light;
}
