@use '../../abstracts/' as *;

.taskCard {
  cursor: grab;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 1.6rem;
  border-radius: 2.4rem;
  box-shadow: 0px 0px 10px 3px hsla(0, 0%, 0%, 0.08);

  &__category {
    align-self: flex-start;
    padding: 0.4rem 1.6rem;

    color: $secondary-color-light;
    font-size: 1.6rem;
    background-color: $userstory-color;
    border-radius: 0.8rem;
  }

  &__title {
    color: $primary-color-light;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__description {
    color: $bottom-border-color;
    font-size: 1.6rem;
  }

  &__subtasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $txt-color-dark;
    font-size: 1.3rem;
  }

  &__progressbar {
    height: 100%; /* Die Höhe des Fortschrittsbalkens füllt den Container aus */
    background-color: $primary-color-light; /* Farbe des Fortschrittsbalkens */
    width: 0%; /* Anfangsbreite des Fortschrittsbalkens, sollte dynamisch geändert werden */
    border-radius: 16px; /* Abrundung der Ecken des Fortschrittsbalkens */
    &__container {
      width: 128px; /* Breite der gesamten Progressbar */
      height: 8px; /* Höhe der Progressbar */
      background-color: #e0e0e0; /* Hintergrundfarbe der Progressbar */
      border-radius: 16px; /* Abrundung der Ecken */
      overflow: hidden; /* Stellt sicher, dass der innere Fortschrittsbalken die Ränder des Containers respektiert */
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
