@use '../abstracts/' as *;

.addTask {
  display: flex;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    color: $txt-color-medium;

    width: 48.8rem;
    height: 100%;
    padding: 64px 24px 0px 24px;

    overflow-y: scroll;
  }
  &__title {
    margin-bottom: 0.8rem;
    font-size: 1.9rem;
    font-weight: 700;
    & span {
      font-weight: 400;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
