@use '../abstracts/' as *;

.summaryUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.2rem;

  width: 100%;
  background-color: $secondary-color-light;

  &__wrapper--top {
    width: 91.2rem;
    display: flex;
    gap: 3.6rem;
  }

  &__wrapper--bottom {
    display: flex;
    width: 91.2rem;
    gap: 3.2rem;
    margin-top: -4rem;
  }
}

.greeting {
  text-align: center;
  & h1 {
    font-size: 4.8rem;
    font-weight: 400;
  }

  & span {
    color: $primary-color-light;
    font-size: 6.4rem;
    font-weight: 700;
  }
}
