@use '../../abstracts/' as *;

.assignedTo {
  &__borderBottom {
    border-bottom: 1px solid $bottom-border-color;

    &:hover {
      border-bottom: 1px solid $primary-color-dark;
    }
  }

  &__inputContainer {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.6rem;
  }
  &__input {
    cursor: pointer;

    color: $txt-color-dark;
    font-size: 1.9rem;

    border: none;

    &::placeholder {
      color: $txt-color-dark;
    }

    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover path {
      fill: $primary-color-dark;
    }

    &:hover {
      border-radius: 50%;
      background-color: $menu-active-color;
    }

    &-rotateDown {
      transform: rotate(180deg);
      transition: transform 0.3s ease;
      transform-origin: center;
    }
    &-rotateUp {
      transform: rotate(0deg);
      transition: transform 0.3s ease;
      transform-origin: center;
    }
  }

  &__contactList {
    height: 28rem;
    overflow-y: scroll;
  }

  & ul {
    list-style: none;
  }

  & li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 1.6rem;

    border-radius: 1.8rem;
    cursor: pointer;
    &:hover {
      background-color: $menu-hover-color;
    }

    & div {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }
  }

  &__contactInitials {
    font-size: 1.2rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.2rem;
    height: 4.2rem;
    background-color: orange;
    border: 1px solid white;
    border-radius: 50%;
  }

  &__contactName {
    font-size: 1.9rem;
  }
}
