@use '../../abstracts/' as *;

.inputTitle {
  font-size: 3.2rem;
  font-weight: 600;

  width: 100%;
  padding: 1.3rem 1.6rem;

  border: none;
  border-bottom: 1px solid $bottom-border-color;

  &:hover {
    border-bottom: 1px solid $primary-color-dark;
  }

  &::placeholder {
    color: $txt-color-placeholder;
    font-weight: 400;
  }

  &:focus {
    outline: none;
  }
}
